body {
  border: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

p {
  padding: 20px auto;
  margin: 20px auto;
}

.cities {
  font-weight: lighter;
  font-size: 24px;
  padding: 30px auto;
  word-spacing: 40px;
  display: block;
}

#city:first-letter {
  text-transform: capitalize;
}

#description:first-letter {
  text-transform: capitalize;
}
